<mat-grid-list
  [cols]="MAT_GRID_LIST_MAX_COLS"
  [rowHeight]="rowHeightForMatGridList"
>
  @for (tile of layoutService.tiles; track tile) {
    <mat-grid-tile
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
      @if(tile.componentForPortal){
        <div class="portal-container">
          <ng-template [cdkPortalOutlet]="createComponentPortal(tile.componentForPortal)">
          </ng-template>
        </div>
      }
    </mat-grid-tile>
  }
</mat-grid-list>
