<div class="actions-container">
  <div class="change-container-size change-container-size-right">
    <button
      [disabled]="layoutService.tiles[1].cols === 4"
      mat-raised-button (click)="layoutService.changeLayoutSizes('right')">
      <span class="material-icons">
        chevron_right
      </span>
    </button>
  </div>

  <div class="d-flex flex-row">
    <span class="app-name"><span class="underscore">_</span> <span class="main-letters">M Λ L </span> <span class="integral"><i>∫</i></span></span>
  </div>

  <div class="mt-10">
    <p>App Components Goes Here</p>
  </div>
</div>
